.box1 {
	content: comparable(2px, 1px);
}
.box2 {
	content: comparable(2px, 1%);
}
.box3 {
	content: comparable(2px, 1em);
}
.box4 {
	content: comparable(2rem, 1em);
}
.box5 {
	content: comparable(2px, 1cm);
}
.box6 {
	content: comparable(2px, 1mm);
}
