.box1 {
	content: ceil(12.3);
}
.box2 {
	content: ceil(12.5);
}
.box3 {
	content: ceil(1.49999);
}
.box4 {
	content: ceil(2);
}
.box5 {
	content: ceil(20%);
}
.box6 {
	content: ceil(2.2%);
}
.box7 {
	content: ceil(3.9em);
}
.box8 {
	content: ceil(2.3px);
}
.box9 {
	content: ceil(2px / 3px);
}
.box10 {
	content: ceil(1px/ 3px);
}
