.PtzControl-1-out {
  background-position: 0 0px;
}
.PtzControl-1-over {
  background-position: 0 -80px;
}
.PtzControl-2-out {
  background-position: 0 -160px;
}
.PtzControl-2-over {
  background-position: 0 -240px;
}
.PtzControl-3-out {
  background-position: 0 -320px;
}
.PtzControl-3-over {
  background-position: 0 -400px;
}
.PtzControl-4-out {
  background-position: 0 -480px;
}
.PtzControl-4-over {
  background-position: 0 -560px;
}
.PtzControl-5-out {
  background-position: 0 -640px;
}
.PtzControl-5-over {
  background-position: 0 -720px;
}
.PtzControl-6-out {
  background-position: 0 -800px;
}
.PtzControl-6-over {
  background-position: 0 -880px;
}
.PtzControl-7-out {
  background-position: 0 -960px;
}
.PtzControl-7-over {
  background-position: 0 -1040px;
}
.PtzControl-8-out {
  background-position: 0 -1120px;
}
.PtzControl-8-over {
  background-position: 0 -1200px;
}
.PtzControl-9-out {
  background-position: 0 -1280px;
}
.PtzControl-9-over {
  background-position: 0 -1360px;
}
