.one {
	width: 100px;
	height: 100px;
}
.two {
	/* 继承的样式 */
	@extend .one;
	/* 独立的样式 */
	background: red;
	border: 5px solid #000;
}
.three {
	/* 继承的样式 */
	@extend .two;
	/* 独立的样式 */
	padding: 10px;
}
