$i: 6;
@while $i > 0 {
	.item-#{$i} {
		width: 2em * $i;
	}
	$i: $i - 2;
}
@function sum($end) {
	$num: 0;
	@while $end > 0 {
		$num: $num + $end;
		$end: $end - 1;
	}
	@return $num;
}
.box {
	content: sum(10);
}
